<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" class="background-home">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container ">
            <div class="mini-charts">
                <div class="row center">
                    <div class="col-sm-8 col-sm-offset-2 ">
                <div class="card search-bar" >
                    <div class="card-header">
                        <div class="fg-line what">
                            <input type="text" class="form-control input-lg " placeholder="Cosa stai cercando?">
                        </div>
                        <button class="btn btn-lg bgm-lightblue srcbar-btn"><i class="zmdi zmdi-search"></i></button>

                    </div>

                    </div>

                </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-3">
                        <div class="mini-charts-item bgm-indigo">
                            <a href="" class="clearfix">
                                <div class="count">
                                    <small>Categoria</small>
                                    <h2>Associazioni</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-3">
                        <div class="mini-charts-item bgm-green">
                            <a href="" class="clearfix">
                                <div class="count">
                                    <small>Categoria</small>
                                    <h2>Artigianato</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-3">
                        <div class="mini-charts-item bgm-brown">
                            <a href="" class="clearfix">
                                <div class="count">
                                    <small>Categoria</small>
                                    <h2>Edilizia</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-3">
                        <div class="mini-charts-item bgm-orange">
                            <a href="" class="clearfix">
                                <div class="count">
                                    <small>Categoria</small>
                                    <h2>Design e fotografia</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-3">
                    <div class="mini-charts-item bgm-lightblue">
                        <a href="" class="clearfix">
                            <div class="count">
                                <small>Categoria</small>
                                <h2>Hotel e ristorazione</h2>
                            </div>
                        </a>
                    </div>
                </div>
                    <div class="col-sm-6 col-sm-3">
                        <div class="mini-charts-item bgm-gray">
                            <a href="" class="clearfix">
                                <div class="count">
                                    <small>Categoria</small>
                                    <h2>Informatica</h2>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-sm-3">
                        <div class="mini-charts-item bgm-pink">
                            <a href="" class="clearfix">
                                <div class="count">
                                    <small>Categoria</small>
                                    <h2>Salute e bellezza</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-3">
                        <div class="mini-charts-item bgm-deeporange">
                            <a href="" class="clearfix">
                                <div class="count">
                                    <small>Categoria</small>
                                    <h2>Sport e tempo libero</h2>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-offset-9 co-sm-3">
                        <button class="btn btn-lg bgm-white"><i class="zmdi zmdi-plus"></i> Ti interessano altre categorie?</button>
                    </div>
                </div>

            <div class="row">
                <div class="col-sm-6">
                    <!-- Recent Items -->
                    <div class="card" data-ng-controller="recentitemCtrl as rictrl">
                        <div class="card-header">
                            <h2>Recent Items <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>
                            <ul class="actions">
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle>
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Refresh</a>
                                        </li>
                                        <li>
                                            <a href="">Settings</a>
                                        </li>
                                        <li>
                                            <a href="">Other Settings</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <!-- Todo Lists -->

                </div>

                <div class="col-sm-6">

                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
